{% extends "base.html" %}
<!-- bootstrap支持的分页,只要将sqlalchemy的分页查询到底传入就可以啦 -->
{% from "bootstrap/pagination.html" import render_pagination %}
<!-- ↓ 这样导入解决了macro不知道什么事current_user的问题 -->
{% from "./includes/_macros.html" import show_posts, show_sidebar, carousel  with context %}

{% block title %}{{title}}{% endblock %}
{% block page_content %}

{% for message in get_flashed_messages() %}
<div class="alert-info">{{ message }}</div>
{% endfor %}



<!-- { { carousel() }} -->
{{ show_posts(posts, pagination, moment) }}
{#{{ show_sidebar(posts) }}#}

{% endblock %}
