<!-- 固定导航栏 -->
<!-- <nav class="navbar navbar-default navbar-fixed-top" role="navigation"> -->
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button aria-controls="navbar"
          aria-expanded="false"
          class="navbar-toggle collapsed"
          data-target="#7bc75dbef69e41ff2452de70079c8ece1320ea7c"
          data-toggle="collapse" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span> <a class="navbar-brand" href="{{url_for('auth.login')}}"> 服务平台</a> </span>
      </div>
      <div class="navbar-collapse collapse"
        id="7bc75dbef69e41ff2452de70079c8ece1320ea7c">
        <ul class="nav navbar-nav">
          <li {% if url_for('auth.login')  %}class="active"{% endif %}>
            <a href="{{ url_for('auth.login') }}" title="{{ ("HOME") }}">{{ ("服务列表") }}</a>
          </li>
          <!-- 根据日期group_by -->
          <li {% if url_for('auth.login')  %}class="active"{% endif %}>
            <a href="{{ url_for('auth.login') }}" title="{{ ("ARCHIVE") }}">{{ ("文件上传") }}</a>
          </li>
          <li {% if url_for('auth.login')  %}class="active"{% endif %}>
            <a href="{{ url_for('auth.login') }}" title="{{ ("ABOUT") }}">{{ ("ABOUT") }}</a>
          </li>

          {% if True %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            MANAGE
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/edit">New Article</a></li>
              <li class="divider"></li>
              <li><a href="#">Article Manage</a></li>
              <li class="divider"></li>
              <li><a href="#">Categories Manage</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>

        <ul class="nav navbar-nav navbar-right">
          {% if True %}
          <li><a href="{{url_for('auth.login')}}">{{ 'CJX' }}</a></li>
          <li><a href="{{ url_for('auth.login') }}">{{ ("Exit") }}</a></li>
          {% else %}
          <li><a href="{{ url_for('auth.login') }}">{{ ("Sign in") }}</a></li>
          <li><a href="{{ url_for('auth.login') }}">{{ ("Sign up") }}</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
